body {
	background: #009FFF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
	background: linear-gradient(to right, skyblue 10%, white 10%, white 40%, white 40%, white 60%, white 60%, white 90%, skyblue 90%);
	color: #000;
}
nav {
	font-family: 'Delius Unicase', cursive;
}
.bg-light {
    background-color: transparent;!important;
}
.navbar-light .navbar-brand {
    color: skyblue;
}
.navbar-light .navbar-brand:hover {
	color: pink;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: skyblue;
}
.navbar-light .navbar-nav .nav-link {
    color: skyblue;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: pink;
}
.navbar-light .navbar-text {
    color: pink;
}
.navbar-text {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
header h1 {
	font-size: 100px;
	font-family: 'Delius Unicase', cursive;
	text-align: center;
	color: skyblue;
}
header h2 {
	text-align: center;
	font-family: 'Delius Unicase', cursive;
}
.container-fluid {
	text-align: center;
}
#results {
	color: #000;
	font-family: 'Delius Unicase', cursive;
	position: fixed;
	align-items: center;
}
.container {
	text-align: center;
	margin-top: 50px;
}
#intro {
	color: skyblue;
}
#boy-button {
	text-align: center;
	height: auto;
	width: auto;
	margin: 0 auto;
}
#girl-button {
	text-align: center;
	height: auto;
	width: auto;
	margin: 0 auto;
}