body {
	background: #009FFF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
	background: linear-gradient(to right, #ec2F4B, #009FFF);
	color: #fff;
}

header h1 {
	font-size: 100px;
	font-family: 'Delius Unicase', cursive;
	text-align: center;
}
header h2 {
	text-align: center;
	font-family: 'Delius Unicase', cursive;
}
.container-fluid {
	text-align: center;
}
#results {
	color: #fff;
	font-family: 'Delius Unicase', cursive;
}
.container {
	text-align: center;
}
#button {
	margin-top: 50px;
}
#boy-button {
	text-align: center;
	height: auto;
	width: auto;
	margin: 0 auto;
}
#girl-button {
	text-align: center;
	height: auto;
	width: auto;
	margin: 0 auto;
}